.header {
    display: flex;
    flex-direction: column;
    padding: 1rem 200px;
    border-bottom: 1px solid #ddd;
    background: white;
}

.flex-box{
    display: flex;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.logo img {
    height: 80px;
}

.search-bar {
    display: flex;
    margin-top: 10px;
    border: 2px solid #3AF26E;
    border-radius: 25px;
    padding: 5px 15px;
    width: 400px;
    height: 40px;
    margin-left: 70px;
    margin-right: auto;
}

.search-bar input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
    font-size: 16px;
    color: #666;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #3AF26E;
}

.nav {
    display: flex;
    margin-top: 20px;
    gap: 1.5rem;
    align-items: center;
}

.nav a {
    margin: 0 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #3AF26E;
}

.user-menu {
    display: flex;
    height: 40px;
    gap: 1rem;
    margin-top: 30px;
    font-size: 1rem;
}

.user-menu a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: black;
}

.dropdown-button {
    margin-top: -10px;
    border: 1px solid #ddd;
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    background: white;
    font-size: 1rem;
}
